.bg-navegacao{
    background-color: #ff2143;
}
a.nav-link{
    color: #fff !important;
    font-size: 1.6rem;
}
a.nav-link:hover{
    color: rgb(0, 0, 0) !important;
    
}

.navbar-expand-lg .navbar-nav .nav-link {
    font-size: 2rem;
    padding-left: 2rem;
}



.logo{
    font-size: 3rem;
    margin-left: 20px;
    color: #ffff;
}

.navbar-toggler-icon{
    color: wheat;
}

.navbar-light .navbar-toggler {
    color: rgba(245, 244, 244, 0.55);
    border-color: #fff;
}

